[submodule "include/stb"]
	path = include/stb
	url = git@github.com:nothings/stb.git
[submodule "include/tinyobjloader"]
	path = include/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader.git
